.content{
  margin: 0 auto;
  max-width: 1280px;
}

.items{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.no-todo{
  p{
    text-align: center;
  }
  img{
    margin-top: 10px;
    width: 400px;
  }
}